*{
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar{
  display: none;
}
.main{
  background: linear-gradient(45deg, black, rgb(59, 59, 59), black);
  background-size: 400% 400%;
  height: 109vh;
  animation: loop 15s ease infinite;
}
.navbar{
  background: radial-gradient(circle, rgb(43,43,43), rgb(59, 59, 59), rgb(53,53,53));
  height: 15vh;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navbar .icon .img{
  float: left;
  height: 15vh;
}
@keyframes loop{
  0%{
    background-position: 0 50%;
  }50%{
    background-position: 100% 50%;
  }100%{
    background-position: 0 50%;
  }
}
.menu{
  float: right;
  font-size: 8vh;
  color: chocolate;
  margin-right: 3vh;
  margin-top: 3vh;
}
.menul{
  float: right;
  background: navy;
  width: 20vh;
  height: 35vh;
}
ul li{
  display: flex;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 3vh;
}